<!doctype html>
<html ng-app="SpicyApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
		<script src="./script.js"></script>
	</head>
	<body>
			<div ng-app="SpicyApp" ng-controller="SpicyCtrl">
				<input ng-model="custom"><button ng-click="customSpice(custom)">Custom</button>
				<button ng-click="chiliSpicy()">Chili</button>
				<button ng-click="jalapenoSpicy()">Jalapeno</button>
				<p>The food is {{spice}} spicy!</p>
			</div>
	</body>
</html>
