<!doctype html>
<html ng-app>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"> </script>
		<script src="script.js"> </script>
	<head>
	<body>
			<a href="http://docs.angularjs.org/guide/forms">Forms - Binding to form and control state</a>
			<div ng-controller="Controller">
				<form novalidate name="form" class="css-form">
					<label>Name:</label>
					<input type="text" ng-model="user.name" name="uName" placeholder="Enter your name here" required><br/>

					<label>Email:</label>
					<input type="email" ng-model="user.email" name="uEmail" placeholder="and your email here" required><br/>
					<div ng-show="form.uEmail.$dirty && form.uEmail.$invalid">Invalid:
						<span ng-show"form.uEmail.$error.required">Tell us your email.</span>
						<span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
					</div>

					<label>Gender:</label>
					<input type="radio" ng-model="user.gender" value="male">
					<input type="radio" ng-model="user.gender" value="female"><br/>

					<input type="checkbox" ng-model="user.agree" name="userAgree" required/>
					I agree: <input ng-show="!user.agree" type="text" ng-model="user.agreeSign" required/> <br/>

					<button ng-click="update(user)" ng-disabled="isUnchanged(user)" >Update</button>
					<button ng-click="reset()" ng-disabled"form.$invalid || isUnchanged(user)"/>Reset</button>
				</form>
				<pre> form = {{user | json }} </pre>
				<pre> master = {{master | json }} </pre>
			</div>
			<style type="text/css">
				.css-form input.ng-invalid.ng-dirty {
					background-color: #FA787E;
				}
						    
				.css-form input.ng-valid.ng-dirty {
					background-color: #78FA89;
				}
			</style>
	</body>
</html>
